@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;

    background-color: #fff;
}
header{
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    background-color: orange;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #fff;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    line-height: 30px;

}
header div {
    display: flex;
    align-items: center;
    margin: 0 30px;
    height: 100px;
}
header img{
    width: 100px;
    height: 100px;
    background: ghostwhite;
    
    border-radius: 50%;
    object-fit: cover;
}
header p{
    height: 100px;
    display: flex;
    align-items: center;
    border-left: 2px solid floralwhite;
    padding-left: 10px;
    margin-left: 10px;
}
header .icon-social{
    width: 150px;
    justify-content: space-evenly;
}
header #menu{
    border: none;
    background-color: transparent;
    color: #fff;
    width: 60px;
    height: 50px;
    font-size: 18px;
    position: relative;
}
header #menu ion-icon{
    font-size: 50px;
}
header #menu ul{
    background-color: darkorange;
    width: 150px;
    position: absolute;
    right: 0;
    display: none;
}
#menu a{
    text-decoration: none;
}
header #menu ul li{
    border: 1px solid #262626;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: ghostwhite;
}
header #menu ul li:hover{
    background-color: ghostwhite;
    color: darkorange;
}

main{
    width: 100%;
}
main div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .background{
    width: 100%;
    height: 700px;
    background-image: url(/assets/backgroun-ideia.jpg);
    background-size: cover;
    background-position: center;
}
main .background .logo, main .card-contact .logo{
    width: 200px;
    margin-top: 11%;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
}
.servicos{
    gap: 20px;
}
#img-service{
    display: block;
    width: 100px;
}
main article{
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}


main .text-about-us{
    background-color: aquamarine;
    box-shadow: inset 0 0 20px;
}
main .text-about-us img{
    margin-top: 15px;
    width: 100px;
    height: 100px;
    background: ghostwhite;
    
    border-radius: 50%;
    object-fit: cover;
}
h1{
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    margin: 15px 0;
}
h2{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 80%;
    margin-bottom: 15px;
    text-align: justify;

}
button{
    font-size: 18px;
}
input{
    padding:0 15px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;

}
ion-icon:hover{
    cursor: pointer;
}
main .contato{
    flex-direction: row;
    height: 500px;
}
main .contato h2{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 15px;
}
.contato .logo{
    margin-top: 5%;
}
.inputs{
    width: 100%;
    color: #262626;
    border-radius: 15px;
    flex-direction: row;
    background-color: #fff;
}
.inputs img{
    height: 100%;
}
.inputs .nome-email{
    width: 80%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.inputs .nome-email input {
    height: 50px;
}
.inputs textarea{
    width: 80%;
    padding: 15px;

    border: none;
    border-radius: 10px;
    word-break: normal;
    overflow: hidden;
    outline: none;
    resize: none;

    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}
.inputs button {
    width: 100px;
    height: 35px;
    margin-top: 10px;
    border-radius: 15px;
    border: none;
}
.inputs .support{
    background-color: aquamarine;
    box-shadow: inset 0 0 20px;
}

input::-webkit-input-placeholder{
    font-style: italic;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #000000;
}
textarea::-webkit-input-placeholder{
    font-style: italic;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #000000;
}
.cadastro-login{
    width: 100%;
    flex-direction: row;
}
.cadastro-login .div-image{
    width: 50%;
    height: inherit;
    background-color: #fff;
}
.cadastro-login div img{
    height: 465px;
}
.cadastro{
    background-color: aquamarine;
    box-shadow: inset 0 0 20px;

}
.cadastro, .login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.cadastro input, .login input{
    width: 80%;
    height: 50px;
    border-radius: 10px;
    border: none;
}
.cadastro button, .login button{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border: none;
}
.cadastro #cadastrar{
    background-color: darkgrey;
}
.cadastro #fazer-login, #login{
    background-color: dimgray;
    color:aliceblue;
    margin-bottom: 20px;
}
footer article{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.rodape-image{
    background-image: url(/assets/backgroun-ideia.jpg);
    background-size: cover;
    background-position: right;
}
footer article img{
    width: 150px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.9);
}
footer div{
    margin-left: 25px;
    color: orange;
}
footer .assinatura{
    background-color: orange;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    line-height: 21px;
    height: 50px;
}
footer .assinatura img{
    width: 50px;
    border-radius: 50%;
    background-color: aliceblue;
    margin: 5px;
}